[Unit]
Description=Write sensor telemetry to DB
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=kaban
ExecStart=/usr/bin/env node /home/kaban/dev/homedata/index.js

[Install]
WantedBy=multi-user.target
